/*This will be the CSS page*/

#title{
  color: #4f19fd;
  font-family: Tauri, Serif;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  border: 5px solid #00147f;
  margin-top: -22px;
  background-color: #b2beff;
  border-radius: 10px;
}

a:link{
  color: #0040ff;
  text-decoration: none;
}
a:visited{
  color: #000000;
  text-decoration: none;
}
a:hover{
  color: #3266ff;
}

li{
  display: inline;
  border: 2px solid #000000;
  font-family: tahoma, sans-serif;
  padding: 5px;
  border-radius: 5px;
  background-color: #66b4ff;
}

#background{
  border: 5px solid #0024e5;
  background-color: #4c69ff;
  border-radius: 5px;
  
}

p {
  font-size: 20px;
  font-family: Arial;
  padding-right: 400px;
  padding-left: 300px;
}

.bottom{
  position: relative;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 20px;
  background-color: #b2beff;
  clear: both;

#footer p{

}

img {
  height: 300px;
  width: 447.9px;
  display: inline-block;
}

#left {
  float: left;
  
}

#right {
  float:right
  
