/*This will be the CSS page*/

#title{
  color: #4f19fd;
  font-family: Tauri, Serif;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  border: 5px solid #00147f;
  margin-top: -20px;
  background-color: #b2beff;
  border-radius: 10px;
}

a:link{
  color: #0040ff;
  text-decoration: none;
}
a:visited{
  color: #000000;
  text-decoration: none;
}
a:hover{
  color: #3266ff;
} /*you don't want there to be a line under visited links. that would look weird the way the navbar is formatted*/

li{
  display: inline;
  border: 2px solid #000000;
  font-family: tahoma, sans-serif;
  padding: 5px;
  border-radius: 5px;
  background-color: #66b4ff;
}

#background{
  background-color: #4c69ff;
  
}

p {
  font-size: 20px;
  font-family: Arial;
  clear: both;
  padding-left: 10px;
  padding-right: 10px;
}

.bottom{ /*make sure you close this. You already had a problem with it*/
  padding: 25px;
  color: #838489;
  font-family: Times;
  
}
  
#Footer {
  position: relative;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 50px;
  background-color: #b2beff;
  clear: both;
}


img {
  height: 300px;
  width: 447.9px;
  display: inline-block;
}

#left {/*you want the navbar on the left, sitting next to the profile img*/
  float: left;
  
}

#right {/*you want the profile img sitting next to the navbar*/
  float:right
}

table{
  border: 2px solid #000000;
  background-color: #11e18f;
  border-radius: 15px;
}

.photos{
  border: 2px solid #000000;
  background-color: #4c69ff;
  border-radius: 15px;
  padding-left: 12.5%;
}



th {
  font-family: Arial;
  font-size: 60px;
}

#post{
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 5px;
  clear: both;
  margin-left: 200px;
  margin-right: 500px;
  
}

/*Look how pretty this makes things look. Maybe not the best but give yourself a break; you're a beginner*/
